<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la solicitud es un archivo o directorio real, no hacer rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todo lo demás a index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
